.cpu-cell {
    border-style: solid;
    border-width: 2px;
    border-color: #171717;
    vertical-align: middle;
    display: table-cell;
    font-size: 4vw;
}

.cpu-cell-1 {
    height: 1vw;
    width: 1vw;
    font-size: 0.25vw;
}

.cpu-cell-2 {
    height: 2vw;
    width: 2vw;
    font-size: 0.5vw;
}

.cpu-cell-4 {
    height: 4vw;
    width: 4vw;
    font-size: 1vw;
}

.cpu-cell-8 {
    height: 6vw;
    width: 6vw;
    font-size: 2vw;
}

.cpu-cell-16 {
    height: 12vw;
    width: 12vw;
}

.pulsed {
    background-color: yellow;
}

.source {
}

.splitter {

}
